<!-- The code in this file has been adapted from OSU 340 flask-starter-app people.j2 page-->
<!-- https://github.com/osu-cs340-ecampus/flask-starter-app-->
<!-- Attribute and variable values are our original work-->
<!-- # Date retrieved: 03/04/2024-->

<head>
	<title>Authors</title>
	<link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	 <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="customers">Manage Customers</a></li>
                <li><a href="authors">Manage Authors</a></li>
                <li><a href="books">Manage Books</a></li>
                <li><a href="publishers">Manage Publishers</a></li>
                <li><a href="purchases">Manage Purchases</a></li>
                <li><a href="bookpurchases">Manage Book Purchases</a></li>
            </ul>
        </nav>
        <div id="header-img">
            <img src="static/img/athena.png" alt="Athena Books logo" width="50" height="50"><h2>Athena Books</h2><img src="static/img/athena.png" alt="Athena Books logo" width="50" height="50">
        </div>
    </header>

	<div id="browse"></br>
        <caption><h3>View Authors<h3><caption>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into Books-->
		<form id="insertAuthor" action="/authors" method="post">
			<legend><h3>Add Author</h3></legend>
			<fieldset>
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="" required><br>			
                <label for="publisher">Publisher:</label>
				<select class="form-control" id="publisher" name="publisher" pattern="[0-4]{1}" publisher="" required> 
                        <!-- Access our publisher tuple passed from app.py-->
                        {% for publisher in publishers %}
                                <!-- If the value iterated publisher matches the value of the publisher of book currently Editing, pre-select that option -->
                                {% if publisher['publisherID'] == data[0].publisher %}
                                    <option value="{{ publisher['publisherID'] }}" selected> {{publisher['publisherName']}}</option>
                                {% else %}
                                    <option value="{{ publisher['publisherID'] }}"> {{publisher['publisherName']}}</option> 
                                {% endif %}
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </select><br>	

            <!-- Create 'Add Author' and 'Cancel' buttons -->
			<input type="submit" value="Add Author" name="Add_Author" class="btn btn-primary" style="margin:.5rem;">
			<a href='/authors'><input class="btn" type="button" value="Cancel"></a> 
			</fieldset>

        </form>
	</div><!--insert-->
<footer>
<p>&copy; Christine Ito & Veronika Kiss 2024</p>
<p><a href="https://www.freepik.com/free-vector/flat-design-athena-logo-template_37561318.htm#fromView=search&page=1&position=4&uuid=de57a9b7-2a74-450b-96c4-b95dc21d4f9b">Logo designed by Freepik</a>
</footer>
</body>
</html>
