<table>
    <thead>
    <tr>
        <!-- Iterate through each key in the first entry to get the
        column name -->
        {% for key in Books[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>

    <!-- Now, iterate through every book in Books -->
    {% for book in Books %}
    <tr>
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in book.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{book[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>