<!-- Adapted from Flask Starter app edit_people.j2-->

<html>

<head>
	<title>Edit Customer</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Edit Customer: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in Customers-->
            <form id="editCustomer" action="/edit_customer/{{data[0].CustomerID}}" method="POST">
                <legend><strong>Edit Customer</strong></legend>
                <fieldset>
                    <!-- Create hidden form input to store the passed 'id' of the book we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].CustomerID}}" class="form-control" id="CustomerID" name="CustomerID" required>
                    <label for="name">Name:</label>
                    <input type="text" value="{{data[0].Name}}" class="form-control" id="name" name="name" placeholder="" required>
                    <label for= "phone">Phone:</label>
                    <input type="text" value="{{data[0].Phone}}" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder=""> 
                    <label for="email">Email:</label>
                    <input type="email" value="{{data[0].Email}}" class="form-control" id="email" name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="" required>                    
                    <label for="address">Address:</label>
                    <input type="text" value="{{data[0].Address}}" class="form-control" id="address" name="address" placeholder="" required>  
                    <label for="city">City:</label>
                    <input type="text" value="{{data[0].City}}" class="form-control" id=city name=city placeholder="" required>               
                    <label for="state">State:</label>
                    <input type="text" class="form-control" id="state" name="state" placeholder="" required>
                    <label for="zip">Zip Code:</label>
                    <input type="text" value="{{data[0].ZipCode}}" class="form-control" id="zip" name="zip" placeholder="" required>
                </fieldset>
                <input type="submit" value="Edit Customer" name="EditCustomer" class="btn btn-primary" style="margin:.5rem;">
                <a href='/customers'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>