<!-- # The code in this file has been adapted from OSU 340 flask-starter-app edit_people.j2 page -->
<!-- # https://github.com/osu-cs340-ecampus/flask-starter-app-->
<!-- # Date retrieved: 02/27/2024-->

<html>

<head>
	<title>Edit Book</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Edit Book: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in Books-->
            <form id="editBook" action="/edit_book/{{data[0].BookID}}" method="POST">
                <legend><strong>Edit Book</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the book we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].BookID}}" class="form-control" id="BookID" name="BookID" required>

                    <label for="title">Title:</label>
                    <input type="text" value="{{data[0].Title}}" class="form-control" id="title" name="title" pattern="{1,}" required>

                    <label for= "author">Author:</label>
                    <select class="form-control" id="author" name="author" pattern="[0-4]{1}" placeholder="" required> 
                        <!-- Access our author tuple passed from app.py-->
                        {% for author in authors %}
                                <!-- If the value iterated author matches the value of the author of book currently Editing, pre-select that option -->
                                {% if author['authorID'] == data[0].authorID %}
                                    <option value="{{ author['authorID'] }}" selected> {{author['authorName']}}</option>
                                {% else %}
                                    <option value="{{ author['authorID'] }}"> {{author['authorName']}}</option> 
                                {% endif %}
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </select>	
                    
                    <label for="genre">Genre:</label>
                    <input type="text" value="{{data[0].Genre}}" class="form-control" id="genre" name="genre" pattern="{1,}"> 
 
                    <label for="price">Price:</label>
                    <input type="text" value="{{data[0].Price}}" class="form-control" id="price" name="price" pattern="[0-9]*[.]?[0-9]+"> 

                    <label for="quantity">Inventory Quantity:</label>
                    <input type="text" value="{{data[0].Quantity}}" class="form-control" id="quantity" name="quantity" pattern="[0-9]+"> 
                
                </fieldset>
                <input type="submit" value="Edit Book" name="EditBook" class="btn btn-primary" style="margin:.5rem;">
                <a href='/books'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>