<html>
<!-- Code adapted from Flask Starter App main.j2
# https://github.com/osu-cs340-ecampus/flask-starter-app -->
<head>
    <title>OSU - CS 340 - Introduction to Databases - Flask Demo Project</title>
    <h1>Books</h1> [ <a href="/">Home</a> | <a href="customers">Customers</a> | Authors | <a href="books">Books</a> | <a href="publishers">Publishers</a> | Purchases | BookPurchases ]
</head>
<body>
    <h1>CS 340 - Introduction to Databases</h1>
    <p>This is the database backend for Athena Books.</p>
</body>
</html>