<html>
<!-- Code adapted from Flask Starter App main.j2
# https://github.com/osu-cs340-ecampus/flask-starter-app -->
<head>

    <title>Athena Books</title>
    <h1>Athena Books</h1> [ <a href="/">Home</a> | <a href="customers">Customers</a> | <a href="authors">Authors</a> | <a href="books">Books</a> | <a href="publishers">Publishers</a> | Purchases | BookPurchases ]
</head>
<body>
    <p>This is the database backend for Athena Books.</p>
</body>
</html>