<html>
<!-- # The code in this file has been adapted from OSU 340 flask-starter-app people.html UI design -->
<!-- # https://github.com/osu-cs340-ecampus/flask-starter-app-->
<head>
	<title>Purchases</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<h1>Purchases</h1> [ <a href="/">Home</a> | <a href="customers">Customers</a> | <a href="authors">Authors</a> | <a href="books">Books</a> | <a href="publishers">Publishers</a> | <a href="purchases">Purchases</a> | <a href="bookpurchases">BookPurchases</a> ]
	<div id="browse"></br>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

							<!-- Create our edit/delete buttons -->
							<td><a href="edit_purchase/{{item.PurchaseID}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_purchase/{{item.PurchaseID}}" class="btn btn-default">Delete</a></td>


					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into Purchases-->
		<form id="insertPurchase" action="/purchases" method="post">
			<legend><strong>Add Purchase</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="customer">Customer:</label>
				<select class="form-control" id="customer" name="customer" pattern="[0-4]{1}" placeholder="" required> 
                        <!-- Access our customer tuple passed from app.py-->
                        <option value="0">N/A</option>
                        {% for customer in customers %}
                                <!-- If the value iterated customer matches the value of the purchase currently Editing, pre-select that option -->
                                {% if customer['customerID'] == data[0].customer %}
                                    <option value="{{ customer['customerID'] }}" selected> {{customer['customerName']}}</option>
                                {% else %}
                                    <option value="{{ customer['customerID'] }}"> {{customer['customerName']}}</option> 
                                {% endif %}
                        <!-- End of this for loop -->
                        {% endfor %} 
                	</select></br>
				<label for="date">Date Placed:</label>
				<input type="date" class="form-control" id="date" name="date" placeholder="" required><br>
                <label for="status">Status:</label>
				<select class="form-control" id="status" name="status" pattern="[A-Za-z]{1,}" placeholder="">
					<option value=""></option>
                    <option value="Submitted">Submitted</option>
					<option value="Shipped">Shipped</option>
					<option value="Complete">Complete</option>
                </select><br>
            </fieldset>

            <!-- Create 'Add Purchase' and 'Cancel' buttons -->
			<input type="submit" value="Add Books to Purchase" name="Add_Purchase" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browsePurchases()"> 
        </form>
	</div><!--insert-->
</body>
</html>
